body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: white;
	background-color: black;
}

.ad-click {
	cursor: pointer;
}

#Stage, #Video {
	width: 300px;
	height: 250px;
}

#Controls {
	height: 50px;
	width: 120px;
	position: absolute;
	top: 200px;
	left: 0;
	padding: 8px 5px;
	z-index: 99999999;
}

.hide {
	visibility: hidden;
}

.icon {
	height: 25px;
	width: 25px;
	display: inline-block;
	background-repeat: none;
	background-image: url(spritesheet.png);
}	

.white.audio-stop {
	background-position: -107px -5px;
}

.white.audio-start {
	background-position: -39px -73px;
}

.white.video-stop {
	background-position: -39px -5px;
}

.white.video-start {	
	background-position: -5px -39px;
}

.white.restart {
	background-position: -73px -39px;
}	

.black.audio-stop {
	background-position: -73px -73px;
}

.black.audio-start {
	background-position: -5px -73px;
}

.black.video-stop {
	background-position: -5px -5px;
}

.black.video-start {
	background-position: -73px -5px;
}

.black.restart {
	background-position: -39px -39px;
}
